<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question For Sales</title>
    <link rel="stylesheet" href="/static/css/question_sale.css">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li><a href="/medicien2" class="link">Medicine</a></li>
            <li><a href="/users2" class="link">Pharmacist Information</a></li>
            <li><a href="/customer2" class="link">Customer</a></li>
            <li><a href="/orders2" class="link">Orders</a></li>
            <li><a href="/sales2" class="link">Sales</a></li>
            <li><a href="/" class="link">LogOut</a></li>
        </ul>
    </div>
    <div class="container">
    <h1 >What Do You Want To Do?</h1>
    <p>Please choose one of the options below:</p>
    <div class="button-container">
        <a href="/new_sale2" class="button">Make New Sales</a>
        <a href="/sale_archive2" class="button">Go To Archive</a>
    </div>
    </div>
</body>
</html>
